
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Roboto", "Lucida Grande", "Tahoma", "Verdana"; 

}

::-moz-selection {
    background: yellow;
    text-shadow: none;
    color:#333;
}

::selection {
    background: yellow;
    text-shadow: none;
    color:#333;
}

*{
    -webkit-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



section.container{
      background-color:#343838 
}

header.top, section.timeline, aside.sidebar{
    height:100%; 
    padding:15px; 
    vertical-align: top;
    float:left;
    top:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


aside.sidebar{
    width:20.8333%; 
    position: fixed;
    right:0;   
    background: #404545;
    -webkit-box-shadow:-5px 5px  0 1px #303333, -10px 10px 0 1px #1f2222;
            box-shadow:-5px 5px  0 1px #303333, -10px 10px 0 1px #1f2222;
}

section.timeline{
    margin-left:20.8333%;
    width:58.3333%;    
    background: url(../img/diagmonds.png) fixed;

    padding: 0 30px;

}

/******************************************************************
    Header top styles
******************************************************************/


header.top{   
    width:20.8333%;      
    color:#fff;    
    position: fixed;
    background-color: #79db8f;
    padding:15px 0 0 0;
    -webkit-box-shadow: 5px 5px 0px 1px #69A37C,  10px 10px 0px 1px #598969, 15px 15px 10px 5px  rgba(0,0,0,0.1);
            box-shadow: 5px 5px 0px 1px #69A37C,  10px 10px 0px 1px #598969, 15px 15px 10px 5px  rgba(0,0,0,0.1);
    z-index: 12; 
  
}

    header.top hr{
        border-color:#69A37C;
    }

div.navtg{
    text-align: center;

    margin-top: 20px;
}    
    
div.navtg a{
    text-align: center;
    display: inline-block;
    padding:10px 25px;
    border:1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 2px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in; 
            transition: all 0.5s ease-in;
}

header.top:hover div.navtg a{
    background-color: #343838;
    color:#fff;
    border-color:transparent;
}

    div.navtg a:hover{
        background-color: #343838;
    }
    
    div.navtg:hover span{
        margin: 5px;
        width:28px;
    }
    
section.branding-area{
    margin:10px 7.5%;
}


header.top h1{
    font-size:14px;
    font-weight: 800;
    text-align: center;
    color: yellow;
    background-color: #343838;
    display: block;    
    padding:2px 3px;
    position: relative;
    z-index: 11;
    width:130px;
    margin: -20px auto 0 auto;
    text-transform: uppercase;
    border-top:1px solid #ccc;
    letter-spacing: 1px;
   
}

header.top h1 small{
    display: none;
}

header.top h1:before{
    content:"";
    width:0px;
    height:0px;    
    display: inline-block;
    margin-bottom:-4px;
    position: absolute;
    top:10px;
    left:-15px;
    border:10px solid;
    border-color: #343838 #343838 #343838 transparent;
    z-index: -1;
}

header.top h1:after{
    content:"";
    width:0px;
    height:0px;    
    display: inline-block;
    margin-bottom:-4px;
    position: absolute;
    top:10px;
    right:-15px;
    border:10px solid red;
    border-color: #343838 transparent #343838 #343838 ;
    z-index: 1;
}


header.top p{
    font-size: 13px;
    text-align: center;
    color:#343838;
}

header figure{
    margin:0 auto;
    width:100%;
    text-align: center
}
header figure img{
    border-radius:50%;    
    width:120px; 
    margin:0 auto;
    border:5px solid #000;
}

.social{
    text-align: center;
}

.social a{
    display: inline-block;
    margin:2px;
}

.social i{
    font-size: 25px;
    font-style: normal;
    color:#343838;
    text-align: center;   

}



/******************************************************************

    Timeline styles

******************************************************************/

section.timeline{
    position: relative
}
section.timeline hr{
    border-top:1px solid #444;
    margin: 0
}
header.aboutme{
    color:#ccc;
    font-size: 24px;
    font-weight: 300;
    position: relative

} 
    
      
    .aboutme p span{
        font-weight: 900;
        color:#fff;
    }
    
    .aboutme p em{
        font-style: normal;
        color:#777;
        border-bottom:1px dotted #666;
    }
    
 
 

.timeline_wrapper > h2{
    color:#79bd8f;
    margin-bottom: 0;
    padding-bottom: 0
}    
    
    
ul.projectlist{
    list-style: none;
    padding:0;
    margin: 0
    
}
    ul.projectlist > li{
        padding:15px 0;
        position: relative;
        width:75%;
        
    }
    
    ul.projectlist li:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #444;
        right:-30px;        
    }
    
    
    
    ul.projectlist li .date{    
        display: inline-block;
        padding:10px;        
        vertical-align: top;        
        border-radius: 5px;    
        position: absolute;
        top:10px;
        right:-135px;       
        background-color: #333;
       
    }

      

    ul.projectlist li .date em{
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        color:#999;
        display: block;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
        
    }
    
    ul.projectlist li .date span{
        color:#fff;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1;
        display: block;
        margin: 5px 0
            
    }
    
    ul.projectlist li div.icon{
        font-size: 14px;
        position: absolute;
        top:50px;
        right:-35px;
        z-index: 20;
        background-color: #FF6138;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-align: center;
        vertical-align: top;
        color:#fff;

    }
    
    
    
    ul.projectlist li .content{
        display:block; 
        vertical-align: top;
        padding:15px;
        background-color:#333;
        border-radius: 5px;
        color:#999;
        position: relative;
    }
        ul.projectlist li .content h2{
            margin:0;
            color:#79bd8f/*#beeb9f*/;
            border-bottom:1px solid #444;
            padding-bottom: 5px;
            font-size: 18px;
        }

        ul.projectlist li .content .tags{
            
        }
        ul.projectlist li .content .tags span{
            display:inline-block;
            padding:2px 5px;
            font-size:10px;
            background-color: rgba(255,97,56,0.05);
            color:#666;
            border-radius:3px;
            font-weight: 600;
        }

        ul.projectlist li .content div.status{
            position: absolute; 
            top:10px;
            right:10px;
            background-color:#79BD8F;
            font-size: 10px;
            color: #000;
            padding:2px 5px;
            opacity: 0;            
            -webkit-transition: all 0.2s ease-in;
                    transition: all 0.2s ease-in;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            text-transform: uppercase;
            text-align: center;
            width:16px;
        }

      

       ul.projectlist li .content:hover div.status{                   
           opacity: 1;
        }

         ul.projectlist li .content:before{        
            content: '';
            display: block;
            width:0;
            height:0;
            border: 10px solid;
            border-color: transparent transparent transparent #333;
            position: absolute;
            right:-20px;
            top:40px;
            margin-top:-10px;   
    }
    
    ul.projectlist li.right .content:before{
        left:-20px;
        border-color: transparent rgba(255,255,255,0.9) transparent transparent ;
    }
    



/******************************************************************

    Sidebar styles

******************************************************************/

aside.sidebar p{
    font-size: 11px;
    padding:0 5px;
    line-height: 1.5
}
    
.sidebar h3{
    color:#f4f4f4;
}    

    .testimonials h2{
        color: #00A388;
        font-weight: 600;
        padding-bottom: 0;
        margin-bottom: 0
        
    }
    
.testimonials blockquote{
    text-align:left;      
    color:#ccc;   
    display: block;
    font-size: 13px;
    font-weight: 100;
    
    
    margin: 50px 30px 50px 40px;
    padding:10px 15px;
    border-left:5px solid #00A388;
    background-color:rgba(125,125,125,0.3);
    text-indent: 15px;
    position: relative;
    border-radius:0 5px 5px 0;
    -webkit-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
}
    .testimonials blockquote:hover{
        -webkit-box-shadow:4px 0 3px 2px #333;
                box-shadow:0px 0 3px 2px #333;
    }

.testimonials blockquote:before{
    content: ' " ';
    font-size: 40px;
    display: block;
    position: absolute;
    color:#00A388;
    font-family:;
    font-style: italic;
    top:-10px;
    left:-10px;
    font-weight: normal;        
}    
    
    
ul.skills{
    padding: 0;
    margin:0;
    list-style: none
}

    ul.skills li{
        margin-left: 10px;
    }
    
    ul.skills li label, ul.skills li span{
        display: block;
        color:#ccc;        
        margin: 3px 0;
        font-size: 14px;
        font-weight: 300;
    }
    
    ul.skills li span{
        width:100%;
        background-color: #333;
       
    }

    ul.skills li span i{
        height: 1px;
        background-color: yellow;
        display: block;
        width:0%;
        
    }

    /* html */

    ul.skills i.html{

        -webkit-animation: html 2s 0.5s 1;
        -ms-animation: html 2s 0.5s 1;
                animation: html 2s 0.5s 1;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        
    }

    @-webkit-keyframes html{
        0%{width:0%; opacity: 0;}
        100%{width:95%; opacity:1; }
    }

    @-ms-keyframes html{
       0%{width:0%; opacity: 0;}
        100%{width:95%; opacity:1; }
    }

    @keyframes html{
        0%{width:0%; opacity: 0;}
        100%{width:95%; opacity:1; }
    }

    /* css */

    ul.skills i.css{

        -webkit-animation: css 2s 1s 1;
        -ms-animation: css 2s 1s 1;
                animation: css 2s 1s 1;

        -webkit-animation-fill-mode: forwards;

                animation-fill-mode: forwards;
       
    }

    @-webkit-keyframes css{
        0%{width:0%; opacity: 0}
        100%{width:85%; opacity: 1}
    }

    @-ms-keyframes css{
        0%{width:0%; opacity: 0}
        100%{width:85%; opacity: 1}
    }

    @keyframes css{
        0%{width:0%; opacity: 0}
        100%{width:85%; opacity: 1}
    }


       /* javascript */

    ul.skills i.js{

        -webkit-animation: js 2s 1s 1;
        -ms-animation: js 2s 1s 1;
                animation: js 2s 1s 1;

        -webkit-animation-fill-mode: forwards;

                animation-fill-mode: forwards;
       
    }

    @-webkit-keyframes js{
        0%{width:0%; opacity: 0}
        100%{width:50%; opacity: 1}
    }

    @-ms-keyframes js{
        0%{width:0%; opacity: 0}
        100%{width:50%; opacity: 1}
    }

    @keyframes js{
        0%{width:0%; opacity: 0}
        100%{width:50%; opacity: 1}
    }


    /* jQuery */

    ul.skills i.jq{

        -webkit-animation: jq 2s 1.5s 1;
        -ms-animation: jq 2s 1.5s 1;
                animation: jq 2s 1.5s 1;

        -webkit-animation-fill-mode: forwards;

                animation-fill-mode: forwards;
       
    }

    @-webkit-keyframes jq{
        0%{width:0%; opacity: 0}
        100%{width:60%; opacity: 1}
    }

    @-ms-keyframes jq{
          0%{width:0%; opacity: 0}
        100%{width:60%; opacity: 1}
    }

    @keyframes jq{
          0%{width:0%; opacity: 0}
        100%{width:60%; opacity: 1}
    }

    /* Photoshop */

    ul.skills i.ps{

        -webkit-animation: ps 2s 2s 1;
        -ms-animation: ps 2s 2s 1;
                animation: ps 2s 2s 1;
           -webkit-animation-fill-mode: forwards;
                   animation-fill-mode: forwards;
       
    }

    @-webkit-keyframes ps{
        0%{width:0%; opacity: 0}
        100%{width:90%; opacity: 1}
    }

    @-ms-keyframes ps{
        0%{width:0%; opacity: 0; }
        100%{width:90%; opacity:1;}
    }

    @keyframes ps{
        0%{width:0%; opacity: 0;}
        100%{width:90%; opacity: 1}
    }

    /* illustrator */

    ul.skills i.il{

        -webkit-animation: il 2s 2.5s 1;
        -ms-animation: il 2s 2.5s 1;
                animation: il 2s 2.5s 1;

         -webkit-animation-fill-mode: forwards;

                 animation-fill-mode: forwards;
       
    }

    @-webkit-keyframes il{
        0%{width:0%; opacity: 0}
        100%{width:55%; opacity: 1}
    }

    @-ms-keyframes il{
        0%{width:0%; opacity: 0}
        100%{width:55%; opacity: 1}
    }

    @keyframes il{
        0%{width:0%; opacity: 0}
        100%{width:55%; opacity: 1}
    }

   
     /* wordpress */

    ul.skills i.wp{

        -webkit-animation: wp 2s 3s 1;
        -ms-animation: wp 2s 3s 1;
                animation: wp 2s 3s 1;

        -webkit-animation-fill-mode: forwards;

                animation-fill-mode: forwards;
       

    }

    @-webkit-keyframes wp{
        0%{width:0%; opacity: 0 }
        100%{width:68%; opacity: 1}
    }

    @-ms-keyframes wp{
        0%{width:0%; opacity: 0 }
        100%{width:68%; opacity: 1}
    }

    @keyframes wp{
        0%{width:0%; opacity: 0 }
        100%{width:68%; opacity: 1}
    }

     /* RWD */

    ul.skills i.rwd{

        -webkit-animation: rwd 2s 3.5s 1;
        -ms-animation: rwd 2s 3.5s 1;
                animation: rwd 2s 3.5s 1;

         -webkit-animation-fill-mode: forwards;

                 animation-fill-mode: forwards;
       
    }

    @-webkit-keyframes rwd{
        0%{width:0%; opacity: 0}
        100%{width:82%; opacity: 1}
    }

    @-ms-keyframes rwd{
        0%{width:0%; opacity: 0}
        100%{width:82%; opacity: 1}
    }

    @keyframes rwd{
        0%{width:0%; opacity: 0}
        100%{width:82%; opacity: 1}
    }
 
    
    aside.sidebar .box{
        padding: 10px;
        border-radius: 3px;
        color:#999;
        text-align: center;
        background-color: rgba(0,0,0,0.1);
        margin:15px 0;
        
    }
        .box span{
            display: block;    
        }
    
        .box span.number{
            font-size: 30px;
            font-weight: 600;
        }
    
        .box span.text{
            font-size: 11px;
            color:#999
        }
    

/******************************************************************

    Overlay styles

******************************************************************/


.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(121,189,143,0.97);   
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    height:100%;
    overflow: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
            transition: opacity 0.5s, visibility 0s 0.5s;
}

.overflow{
    overflow: hidden
}

.overlay.open{
    opacity:1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
} 

.overlay.close{
    opacity: 0;
    visibility: hidden;
    -webkit-transform: opacity 0.5s;
        -ms-transform: opacity 0.5s;
            transform: opacity 0.5s;
}

.overlay .close{
    position: absolute;
    right:50px;
    top:50px;
}

.overlay .contact{
    width: 600px;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left:-300px;
    margin-top:-200px;   
}

.overlay.open .contact{
     -webkit-animation: contact 1s 0s 1;    
             animation: contact 1s 0s 1;
}

@-webkit-keyframes contact{
    0%{
        opacity: 0;
        margin-top:-220px;
    }
    
    100%{
        opacity: 1;
        margin-top:-200px;
    }
    
}

@keyframes contact{
     0%{
        opacity: 0;
        margin-top:-180px;
    }
    
    100%{
        opacity: 1;
        margin-top:-200px;
    }
}


.contact a{
    text-decoration: none;
    color:#fff;
    font-size: 60px;
    display: block;
    font-weight: 100;
}

.contact a span{   
    color:gray
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width:480px) {
    
    header.top, section.timeline, aside.sidebar{
        width: 100%;
        position: static;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    
    section.timeline{
        margin-left:0;
    }
    
    header.top p{
        font-size: 20px;
        font-weight: 900;
    }
    
    .navtg{
        margin-bottom:25px;
    }
    
    header.aboutme{
        font-size: 20px;
        text-align: center
    }
     ul.projectlist li{
         width:90%
     }
    ul.projectlist li .date{
        position: static;
        width:auto;
        display: block;
        background-color: transparent;
        padding: 0;
    }
    
    
    ul.projectlist li .date span, ul.projectlist li .date em{
        display:inline;
        padding:0px;
        text-transform: uppercase;
        font-size: 12px;    
    }
    
    ul.projectlist li div.icon{
        top:72px;
    }   
}

@media only screen and (min-width: 480px) and (max-width:800px){

    header.top{
        width:100%;
        float:none;
        display: block; 
        position: relative;
        z-index: 99;
        -webkit-box-shadow: none;
                box-shadow: none;
        text-align: left;
        padding:20px;
        
    }
    aside.sidebar{
        position: static;
        width:100%;
            -webkit-box-shadow: none;
                    box-shadow: none;
        padding: 10px;
    }
    
    section.timeline{
        margin:0;
        width:100%;
           padding: 0 20px;
    }
    
    
    header.top hr{
        display: none;
    }
    
    header figure{
        margin: 0;
        text-align: left;
        float: left
    }
    
    section.branding-area{
        margin:0%
    }
        
    .branding-area figure img{
       width:50px;
       border: 1px;
        
    }
    
     header.top h1{
         background: none;
         border:none;
         font-size: 25px;
         text-align: left;
         width:auto;
         float: left;
         margin-top:-55px;
         margin-left: 60px;
         color:#343838;
     }
    
     header.top h1 small{
         display: block;
         font-size: 12px;
         font-weight: normal;
         text-transform: capitalize;
         letter-spacing: 0px
     }
      
    header.top h1:after, header.top h1:before{
        border:none;
    }
    
    header.top p,header.top .social{
        display: none
    }
    
    header.top .navtg{
       text-align: left;
       margin-left:60px;
        margin-top: 5px;
       float: none;
       display: block;
    }
    
    div.navtg a.contact{
        font-size: 12px;
        padding:3px 10px;
            
    }
     
    aside.sidebar .box{
        display: inline-block;
        margin: 10px;
    }
     
}

@media only screen and (max-width:640px){
    
.overlay.open .close{
    right:50%;
    margin-right:-30px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #343838;
    padding: 5px;
}
    
   .overlay .contact{
       margin-top:0px;
       top:30%;
    }
    
    .overlay .contact a{
        font-size: 30px;
    }
    
    @-webkit-keyframes contact{
        0%{
            opacity: 0;
    
        }

        100%{
            opacity: 1;
            
        }
    
    }

    @keyframes contact{
          0%{
                opacity: 0;
    
            }

            100%{
                opacity: 1;

            }
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.hideme{
    opacity: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.icon{font-family: entypo; font-style: normal;}

@font-face {
  font-family: 'entypo';
  src: url('../font/entypo.eot?95868874');
  src: url('../font/entypo.eot?95868874#iefix') format('embedded-opentype'),
       url('../font/entypo.woff?95868874') format('woff'),
       url('../font/entypo.ttf?95868874') format('truetype'),
       url('../font/entypo.svg?95868874#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

     font-smooth: always;
     -webkit-font-smoothing: subpixel-antialiased;
}

.icon-heart:before { content: '\e807'; } /* '' */
.icon-linkedin-circled:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-twitter-circled:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\e803'; } /* '' */
.icon-gplus-circled:before { content: '\e806'; } /* '' */
.icon-direction:before { content: '\e809'; } /* '' */
